{$WEAVE_DOMAIN}, www.{$WEAVE_DOMAIN} {
	encode zstd gzip

	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	reverse_proxy web:80
}
